fieldset{
  margin: auto;
  padding: 1em 2em;
  min-width: 200px;
}
label{
  display: block;
  margin-top: 1em;
}

label:first-of-type{
  margin-top:0;
}
input{
  padding: 0.5em;
  border: solid 1px #999;
}
input[type="text"]{
  width: 15em;
}

textarea{
  min-height: 8em;
  min-width: 100%;
  padding: .5em;
  border:solid 1px #999;
}

input[type="submit"]{
  padding: .5em 1em;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-size: .8em;
}
.post-form-container{
  max-width: 800px;
  padding-top: 20px;
  margin: 0 auto;
}